/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* COMMON */
html{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

.webapp-wrapper{
    width: 100%;
    height: 100vh;
}

img{
    width: 100%;
}

ul {
    list-style-type: none;
}


/* UTILITIES */
.flex{
    display: flex;
}


/* SIDEBAR */
.sidebar-container{
    height: 100vh;
    width: 20vw;
}

.sidebar{
    height: 100%;
    background-color:black ;
}


/* MUSIC */
.music-container{
    height: 100vh;
    width: 80vw;
}

.transparent-bar{
    background-color: black;
    opacity: 0.3;
    height: 15vh;
    width: 80vw;
}

.music{
    height: 100%;
    background-color: #141922;
}
