/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* COMMON */
html{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

.webapp-wrapper{
    width: 100%;
    height: 100vh;
}

.container{
    height: 100vh;
    width: 100%;

}

img{
    max-width: 100%;
}

ul {
    list-style-type: none;
}


/* UTILITIES */
.flex{
    display: flex;
}

.jus-center{
    justify-content: center;
}

.jus-end{
    justify-content: end;
}

.jus-inherit{
    justify-content: inherit;
}

.al-center{
    align-items: center;
}

.al-end{
    align-items: flex-end;
}

/* font weight */
.fw-500{
    font-weight: 500;
}

.fw-600{
    font-weight: 600;
}

.fw-700{
    font-weight: 700;
}

/* font color */
.white-f{
    color: white;
}

.grey-f{
    color: #73767b;
}

/* padding */
.pad-1{
    padding: 1em;
}

.pad-left-1{
    padding-left: 1em;
}
/* margin */
.mr-0{
    margin-right: 0;
}

.mr-08{
    margin-right: .8em;
}

.mt-08{
    margin-top: 0.8em;
}

.mt-1{
    margin-top: 1em;
}

.mt-2{
    margin-top: 2em;
}

.mt-3{
    margin-top: 3em;
}

.mt-4{
    margin-top: 4em;
}

.m-0-auto{
    margin: 0 auto;
}

.mb{
    margin-bottom: .5em;
}

/* SIDEBAR */
ul li img{
    width: 20px;
    height: 20px;
}

.fa-solid.fa-square-plus{
    color: #a3a3a3;
    font-size: 2rem;
}

ul li{
    padding: 0;
}
.sidebar-container{
    height: 100vh;
    width: 20vw;
}

.sidebar{
    height: 100vh;
    width: 100%;
    background-color:black ;
    padding: 1em;
    position: relative;
}

.sidebar-logo{
    height: 70px;
    width: 150px;
}

.sidebar p{
    color: white;
}

.libreria, .cerca, .home img{
    height: 20px;
    width: 20px;
}

.libreria{
    color: white;
    display: flex;
}

.sidebar-content ul li{
    padding: .3em;
}

/* sidebar footer */
.sidebar-footer{
    position: absolute;
    bottom: 90px;
    left: 14px;
}

hr{
    background-color: white;
}

.sidebar-footer img{
    width: 20px;
    height: 20px;
    padding: 0.2em;
    background-color: #a3a3a3;
    border-radius: 50%;
}

/* MUSIC */
.music-container{
    height: 100vh;
    width: 85vw;
    overflow-y: auto;
}

.transparent-bar{
    background-color: black;
    opacity: 0.3;
    height: 15vh;
    width: 85vw;
    position: relative;
}

.transparent-bar a{
    text-decoration: none;
    padding: .7em;
    border-radius: 30px;
    border: solid 2px white;
    position: absolute;
    top: 30px;
    right: 100px;
    font-weight: 600;
}

.music{
    background-color: #141922;
}

.flex.jus-center.pad-1 li{
    padding: 1em;
}

li{
    color: #73767b;
    padding: 1em;
}

/* card */
.card{
    height: 40vh;
    width: 20vw;
    margin-right: .5em;
    margin-top: 1em;
}

.card-title{
    color: white;
    text-align: center;
}

.card-subtitle{
    color: #73767b;
    text-align: center;
}

.card-image{
    height: 50%;
    width: 100%;
}

#card-2-1{
    width: 12.6vw;
}

#card-2-2{
    width: 12.6vw;
}

#card-3-1{
    width: 12.6vw;
}
  
#card-3-2{
    width: 12.6vw;
}
/* DOWN-BAR */
.down-bar{
    height: 10vh;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.down-bar-left{
    height: 100%;
    width: calc(20%);
}

.left-image{
    height: 60px;
    width: 60px;
}

.down-bar-middle{
    height: 100%;
    width: calc(50%);
}

.up.flex.jus-center i{
    font-size: 1.4rem;
    margin-left: .5em;
    margin-right: .5em;
}

.down-bar-middle .down hr{
    height: 4px;
    background-color: #73767b;
    width: 60%;
    border: none;
    border-radius: 10px;
}

.down-bar-right{
    height: 100%;
    width: calc(20%);
}

.down-bar-right .right-icons hr{
    height: 4px;
    background-color: #73767b;
    width: 40%;
    border: none;
    border-radius: 10px;
}

.down hr{
    margin: 0 auto;
}

.down span{
    line-height: 10px;
    vertical-align: middle;
}

.down{
    position: relative;
}

.p-ab-right{
    position: absolute;
    top: 17px;
    right: 50px;
}

.p-ab-left{
    position: absolute;
    top: 17px;
    left: 40px;
}



@media screen and (max-width: 700px){
    .sidebar-logo{
        height: 50px;
        width: 120px;
    }

    .resp-700{
        font-size: .8rem;
    }

    .music nav{
        font-size: .7em;
    }
}


