/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* COMMON */
html{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

.webapp-wrapper{
    width: 100%;
    height: 100vh;
}

.container{
    height: 100vh;
    width: 100%;

}

img{
    max-width: 100%;
}

ul {
    list-style-type: none;
}


/* UTILITIES */
.flex{
    display: flex;
}

.jus-center{
    justify-content: center;
}

.al-end{
    align-items: flex-end;
}
/* font color */
.white-f{
    color: white;
}

.grey-f{
    color: #73767b;
}

/* padding */
.pad-1{
    padding: 1em;
}

/* margin */
.mt-1{
    margin-top: 1em;
}

.mt-2{
    margin-top: 2em;
}

.mt-3{
    margin-top: 3em;
}

.mt-4{
    margin-top: 4em;
}

.m-0-auto{
    margin: 0 auto;
}



/* SIDEBAR */
ul li img{
    width: 20px;
    height: 20px;
}

.fa-solid.fa-square-plus{
    color: #a3a3a3;
    font-size: 2rem;
}

ul li{
    padding: 0;
}
.sidebar-container{
    height: 100vh;
    width: 20vw;
}

.sidebar{
    height: 100vh;
    width: 100%;
    background-color:black ;
    padding: 1em;
    position: relative;
}

.sidebar-logo{
    height: 70px;
    width: 150px;
}

.sidebar p{
    color: white;
}

.libreria, .cerca, .home img{
    height: 20px;
    width: 20px;
}

.libreria{
    color: white;
    display: flex;
}

/* sidebar footer */
.sidebar-footer{
    position: absolute;
    bottom: 90px;
    left: 14px;
}

hr{
    background-color: white;
}

.sidebar-footer img{
    width: 20px;
    height: 20px;
    padding: 0.2em;
    background-color: #a3a3a3;
    border-radius: 50%;
}

/* MUSIC */
.music-container{
    height: 100vh;
    width: 85vw;
    overflow-y: auto;
}

.transparent-bar{
    background-color: black;
    opacity: 0.3;
    height: 15vh;
    width: 85vw;
}

.music{
    background-color: #141922;
}

li{
    color: #73767b;
    padding: 1em;
}

/* card */
.card{
    height: 40vh;
    width: 20vw;
    margin-right: .5em;
    margin-top: 1em;
}

.card-title{
    color: white;
    text-align: center;
}

.card-subtitle{
    color: #73767b;
    text-align: center;
}

.card-image{
    height: 50%;
    width: 100%;
}

#card-2-1{
    width: 12.6vw;
}

#card-2-2{
    width: 12.6vw;
}

#card-3-1{
    width: 12.6vw;
}
  
#card-3-2{
    width: 12.6vw;
}
/* DOWN-BAR */
.down-bar{
    height: 10vh;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
}